fixm-jaxb/src/main/resources/schemas/fixm/4.0/extensions/nas/NasFlightIntent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="qualified"
   targetNamespace="http://www.faa.aero/nas/4.0"
   version="4.0.0"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/4.0"
   xmlns:nas="http://www.faa.aero/nas/4.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2016 US Federal Aviation Administration (FAA) 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions and the disclaimer in the documentation and/or other materials 
         provided with the distribution. 
         * The name of US FAA or the names of its contributors may not be used to endorse 
         or promote products derived from this specification without specific prior written 
         permission. 
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <import namespace="http://www.fixm.aero/base/4.0" schemaLocation="./../../core/base/Base.xsd"/>
   <annotation>
      <documentation>
         Contains the NAS Specific Flight Intent definitions. 
      </documentation>
   </annotation>

   <complexType name="ArrivalMovementAreaHoldInformationType">
      <annotation>
         <documentation>
            Indicates the intent for an arriving flight to hold in the airport movement area 
            due to unavailability of a parking stand or ramp access, and the time when the flight 
            is estimated to exit the airport movement area. 
         </documentation>
      </annotation>
      <sequence>
         <element name="estimatedExitTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Indicates the time when the flight is estimated to exit the airport movement area. 
                  
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="holdIntent" type="nas:HoldIntentType" use="optional" > 
         <annotation>
            <documentation>
               Indicates the intent for an arriving flight to hold in the airport movement area 
               due to unavailability of a parking stand or ramp access. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="ArrivalMovementAreaHoldInformation" type="nas:ArrivalMovementAreaHoldInformationType" /> 

   <complexType name="DeicingInformationType">
      <annotation>
         <documentation>
            Indicates the intent for the flight to be deiced and the intended deicing location. 
            
         </documentation>
      </annotation>
      <attribute name="deicingIntent" type="nas:DeicingIntentType" use="optional" > 
         <annotation>
            <documentation>
               Indicates the intent for the flight to be deiced. 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="deicingLocation" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               Indicates the location where the flight intends to be deiced. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="DeicingInformation" type="nas:DeicingInformationType" /> 

   <complexType name="DepartureMovementAreaHoldInformationType">
      <annotation>
         <documentation>
            Indicates the intent for a departing flight to hold in the airport movement area 
            when surface departure metering or other Traffic Management Initiatives are in effect, 
            and the time when the flight is estimated to request entry in the airport movement 
            area. 
         </documentation>
      </annotation>
      <sequence>
         <element name="estimatedEntryTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Indicates the time when the flight is estimated to request entry in the airport movement 
                  area. 
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="holdIntent" type="nas:HoldIntentType" use="optional" > 
         <annotation>
            <documentation>
               Indicates the intent for a departing flight to hold in the airport movement area 
               when surface departure metering or other Traffic Management Initiatives are in effect. 
               
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="DepartureMovementAreaHoldInformation" type="nas:DepartureMovementAreaHoldInformationType" /> 

   <complexType name="FlightIntentType">
      <annotation>
         <documentation>
            A container for the list of intent values provided by the flight operator that designate 
            the intentions of a flight prior to departure from an aerodrome or after arrival 
            at an aerodrome. 
         </documentation>
      </annotation>
      <sequence>
         <element name="arrival" type="nas:ArrivalMovementAreaHoldInformationType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Indicates the intent for an arriving flight to hold in the airport movement area 
                  due to unavailability of a parking stand or ramp access, and the time when the flight 
                  is estimated to exit the airport movement area. 
               </documentation>
            </annotation>
         </element>
         <element name="deicing" type="nas:DeicingInformationType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Indicates the intent for the flight to be deiced and the intended deicing location. 
                  
               </documentation>
            </annotation>
         </element>
         <element name="departure" type="nas:DepartureMovementAreaHoldInformationType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Indicates the intent for a departing flight to hold in the airport movement area 
                  when surface departure metering or other Traffic Management Initiatives are in effect, 
                  and the time when the flight is estimated to request entry in the airport movement 
                  area. 
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="intendedArrivalSpot" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               Indicates the location intended for the flight to enter the non-movement area from 
               the airport movement area. 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="intendedDepartureSpot" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               Indicates the location intended for the flight to enter the airport movement area 
               from the non-movement area. 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="standReturnIntent" type="nas:StandReturnIntentType" use="optional" > 
         <annotation>
            <documentation>
               Indicates the intent for the flight to return to the stand. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="FlightIntent" type="nas:FlightIntentType" /> 

   <simpleType name="DeicingIntentType">
      <annotation>
         <documentation>
            Indicates the intent for the flight to be deiced. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="DEICE">
            <annotation>
               <documentation>
                  .Deicing Intent: Indicates the intent for the flight to be deiced. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="NO_DEICE">
            <annotation>
               <documentation>
                  .Deicing Intent: Indicates the intent for the flight to be deiced. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="HoldIntentType">
      <annotation>
         <documentation>
            Indicates the intent for an arriving flight to hold in the airport movement area 
            due to unavailability of a parking stand or ramp access. 
            Indicates the intent for a departing flight to hold in the airport movement area 
            when surface departure metering or other Traffic Management Initiatives are in effect. 
            
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="HOLD">
            <annotation>
               <documentation>
                  Indicates the intent is to hold 
                  .Airport Movement Area Holding Intent - Arrival: Indicates the intent for an arriving 
                  flight to hold in the airport movement area due to unavailability of a parking stand 
                  or ramp access. 
                  .Airport Movement Area Holding Intent - Departure : Indicates the intent for a departing 
                  flight to hold in the airport movement area when surface departure metering or other 
                  Traffic Management Initiatives are in effect. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="NO_HOLD">
            <annotation>
               <documentation>
                  Indicates the intent is not to hold 
                  .Airport Movement Area Holding Intent - Arrival: Indicates the intent for an arriving 
                  flight to hold in the airport movement area due to unavailability of a parking stand 
                  or ramp access. 
                  .Airport Movement Area Holding Intent - Departure : Indicates the intent for a departing 
                  flight to hold in the airport movement area when surface departure metering or other 
                  Traffic Management Initiatives are in effect. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="StandReturnIntentType">
      <annotation>
         <documentation>
            Indicates the intent for the flight to return to the stand. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="RETURN">
            <annotation>
               <documentation>
                  .Stand Return Intent: Indicates the intent for the flight to return to the stand. 
                  
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="NO_RETURN">
            <annotation>
               <documentation>
                  .Stand Return Intent: Indicates the intent for the flight to return to the stand. 
                  
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
</schema>
